body {
    margin: 0;
    padding: 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    align-items: center;
    position: sticky;

    .navbar-logo img {
        height: 60px;
        width: 150px;
    }

    .navbar-serch {
        height: 40px;
        width: 30%;
        border-radius: 20px;
        border: 1px solid rgb(241, 19, 19);
        background-color: rgb(251, 247, 247);
        align-items: center;
        align-content: center;
        text-align: left;
    }

    .navbar-serch i {
        margin-left: 3%;
        text-align: center;
        align-items: center;
        align-content: center;
        font-size: 20px;
        color: red;
    }


    .menu ul li {
        display: flex;
        gap: 30px;
        cursor: pointer;
    }

    .menu ul li a {
        color: rgb(245, 13, 13);
        font-size: 20px;
    }

    .menu ul li a:hover {
        color: rgb(250, 1, 1);
        font-size: 21px;
    }
}

.getstart-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: red;
    height: 83%;
    align-content: center;
}

.getstart-left {
    margin-left: 10%;
}

.getstart-left h1 {
    padding: 0;
    margin: 0;
    font-size: 50px;
    color: white;
}

.getstart-left h2 {
    padding: 0;
    margin: 0;
    font-size: 40px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.getstart-left p {
    font-size: 20px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.getstart-left button {
    cursor: pointer;
    color: red;
    font-size: 25px;
    border-radius: 20px;
    border: none;
    height: 15%;
    width: 35%;
    margin-top: 8%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.getstart-left button:hover {
    background-color: red;
    color: white;
    border: 1px solid white;
}

.getstart-right img {
    margin-left: 12%;
    border: none;
    border-radius: 2px solid blue;
    border-radius: 15px;
}

.join-containt {
    margin-bottom: 10%;
}

.join-containt {
    display: flex;
    gap: 32px;
    margin-left: 5%;

}

.join-top h1 {
    font-size: 35px;
    margin-left: 30%;
    margin-right: 20%;
    margin-top: 8%;
    margin-bottom: 4%;
}

.join-containt h2 {
    color: red;
}

.join-containt img {
    height: 35px;
    width: 40px;
    padding: 15px;
    border: 2px solid rgb(210, 210, 216);
    margin-left: 1%;
}

.business-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 3%;
}

.business-left {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    background-color: red;
    padding-left: 10%;
    border-radius: 10px;
    gap: 40px;
    height: 85%;

}

.business-containt-1 i {
    font-size: 50px;
    color: white;
    padding: 0;
    margin: 0;
}

.business-containt-2 h1 {
    font-size: 70px;
    color: white;
    margin-top: 15%;
}

.business-containt-2 {
    padding-right: 5%;
}

.business-containt-2 h2 {
    padding: 0;
    margin: 0;
}

.business-containt-2 p {
    padding: 0;
    margin: 0;
    color: white;
    font-size: 18px;
    padding-bottom: 20%;
}

.right-containt-1 {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 30px;
}

.right-containt-1 i {
    font-size: 30px;
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
}

.business-right h2 {
    color: rgb(98, 94, 94);
}

.service-container {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 7%;
    gap: 5%;
}

.service-container-left {
    width: 320px;
}

.service-container-left h1 {
    color: red;
    font-size: 40px;
    padding: 0;
    margin: 0;
}

.service-container-left h2 {
    font-size: 40px;
    color: #444444;
    margin-top: 0;
    padding-top: 10px;
}

.services-container-menu ul {
    font-size: 20px;
    padding-left: 10%;
    margin: 0;

}

.services-container-menu ul li {

    list-style: none;
    margin-bottom: 3%;
    width: 150%;
    cursor: pointer;
    border: 1px solid rgb(198, 193, 193);
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.services-container-menu ul li a {
    list-style: none;
    color: rgb(94, 92, 92);
}

.service-container-right {
    background-color: red;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    border-radius: 10px;

}

.service-container-right h2 {
    color: white;
    font-size: 30px;
    padding-bottom: 0;
}

.service-container-right p {
    margin-top: 0;
    padding-top: 0;
    color: white;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.service-container-right button {
    font-size: 18px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.client-container {
    text-align: center;
    margin-top: 10%;

}

.client-header h1 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(116, 113, 113);
    padding: 0;
    margin: 0;
}

.client-header h3 {
    color: #444444;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin-bottom: 5%;
}

.client-baner {
    display: grid;
    grid-template-columns: auto auto auto;
}

.client-baner {
    margin-left: 5%;
    margin-right: 5%;
    gap: 35px;
}

.baner-1 img {
    border-radius: 10px;
    position: relative;
    padding: 0;
    margin: 0;
    border: 1px solid rgb(210, 194, 194);
}

.baner-1 h1 {
    color: #444444;
    font-size: 30px;
    text-align: left;
}

.baner-1 h3 {
    text-align: left;
    font-size: 15px;
    color: #444444;
    font-family: 'Courier New', Courier, monospace;
}

.company-container {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4%;
    margin-bottom: 14%;
}

.inovation-container {
    margin-left: 5%;
    margin-right: 5%;
}

.inovation-container h1 {
    font-size: 45px;
    color: rgb(194, 83, 83);
    padding: 0;
    margin: 0;

}

.inovation-container p {
    padding-top: 10px;
    margin: 0;
    font-size: 20px;
    color: #444444;

}

.Empowering-container {
    margin-left: 5%;
    margin-top: 5%;
}

.Empowering-container h2 {
    color: #a8a5a5;
    font-size: 20px;
}

.Empowering-container img {
    height: 40px;
    width: 110px;
    padding-right: 100px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}

.aboutUs-container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.aboutUs-container h1 {
    color: red;
    font-size: 45px;
}

.aboutUs-containt {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10%;
}

.aboutUs-left p {
    font-size: 20px;
    color: #444444;
}

.aboutUs-left button {
    background-color: red;
    font-size: 20px;
    color: white;
    cursor: pointer;
    border-style: none;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    margin-top: 10%;
}

.aboutUs-left button:hover {
    background-color: white;
    color: red;
    border: 1px solid red;
}

.aboutUs-middle h2 {
    font-size: 35px;
    color: #444444;
    padding-bottom: 40px;
}

.aboutUs-right p {
    font-size: 18px;
    color: #444444;
    padding-bottom: 15px;
}